@import '../assets/sass/vendors/response';

.mfa-view-container {
    text-align: left;
    
    @include response(md) {
        max-width: 960px;
         margin: auto;
    }
    
    .mfa-view-container__title {
		text-align: center;
		color: #ffffff;
		font-family: 'Exo 2', sans-serif;
		font-size: 25px;
		font-weight: 200;
		margin: 0;
	}

	hr {		//TODO: idk if this is necessary
		display: block;
		width: 3em;
		height: 1px;
		border: none;
		color: #039cbf;
		background-color: #039cbf;
		margin: 15px auto;

		@include response(md) {
			margin: 28px auto;
		}
	}
}

.mfa-wrapper { 
	text-align: center;

	p {
		color: #ffffff;
		font-size: 18px;
		font-weight: 200;
		margin: 0 0 1.5em;
	}

	#mfa-qrcode {	//Will need this later to display my own QR code
		display: block;
		width: 180px;
		height: 180px;
		margin: 48px auto 63px;
		background: #ffffff;
		padding: 4px;

		@include response(md) {
			width: 180px;
			height: 180px;
		}
	}
}